/* Color definitions */
$black: #000;
$white: #fff;
$white-95: rgba(255, 255, 255, 0.95);
$white-75: rgba(255, 255, 255, 0.75);
$grey: #dedede;
$grey-dark: #383838;
$green-dark: #005924;
$green-light: #7bdaa1;
$purple-2xdark: #200133;
$purple-xdark: #2b0e3d;
$purple-dark: #361a47;
$purple-base: #714cb4;
$purple-light: #9c7ad9;
$purple-xlight: #f0e0f9;
$purple-2xlight: #faf5fd;

// Light
$light--text-primary: $black;
$light--text-secondary: $grey-dark;
$light--text-positive: $green-dark;
$light--progress--goal: $black;
$light--progress--complete: $black;
$light--progress--total: $grey;
$light--progress--first: $purple-light;
$light--progress--second: $purple-base;
$light--complete--background: $green-light;
$light--background--base: $white;
$light--background--tint-1: $purple-2xlight;
$light--background--tint-2: $purple-xlight;
$light--dark-mode-toggle: $purple-xdark;
$light--dark-mode-toggle-hover: $purple-base;

// Dark
$dark--text-primary: $white-95;
$dark--text-secondary: $white-75;
$dark--text-positive: $green-light;
$dark--progress-goal: $black;
$dark--progress-complete: $black;
$dark--progress--total: $grey;
$dark--progress--first: $purple-light;
$dark--progress--second: $purple-base;
$dark--complete-background: $green-light;
$dark--background-base: $purple-2xdark;
$dark--background-tint-1: $purple-xdark;
$dark--background-tint-2: $purple-dark;
$dark--dark-mode-toggle: $white-95;
$dark--dark-mode-toggle-hover: $purple-base;

:root {
  --text-primary: #{$dark--text-primary};
  --text-secondary: #{$dark--text-secondary};
  --text-positive: #{$dark--text-positive};
  --progress-goal: #{$dark--progress-goal};
  --progress-complete: #{$dark--progress-complete};
  --progress--total: #{$dark--progress--total};
  --progress--first: #{$dark--progress--first};
  --progress--second: #{$dark--progress--second};
  --complete-background: #{$dark--complete-background};
  --background-base: #{$dark--background-base};
  --background-tint-1: #{$dark--background-tint-1};
  --background-tint-2: #{$dark--background-tint-2};
  --dark-mode-toggle: #{$dark--dark-mode-toggle};
  --dark-mode-toggle-hover: #{$dark--dark-mode-toggle-hover};
}

.light {
  --text-primary: #{$light--text-primary};
  --text-secondary: #{$light--text-secondary};
  --text-positive: #{$light--text-positive};
  --progress-goal: #{$light--progress--goal};
  --progress-complete: #{$light--progress--complete};
  --progress--total: #{$light--progress--total};
  --progress--first: #{$light--progress--first};
  --progress--second: #{$light--progress--second};
  --complete-background: #{$light--complete--background};
  --background-base: #{$light--background--base};
  --background-tint-1: #{$light--background--tint-1};
  --background-tint-2: #{$light--background--tint-2};
  --dark-mode-toggle: #{$light--dark-mode-toggle};
  --dark-mode-toggle-hover: #{$light--dark-mode-toggle-hover};
}
