/* Color definitions */
$transparent: transparent;

$black: #000;
$black-95: rgba(0, 0, 0, 0.95);
$black-75: rgba(0, 0, 0, 0.75);
$black-50: rgba(0, 0, 0, 0.5);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-5: rgba(0, 0, 0, 0.05);

$white: #fff;
$white-95: rgba(255, 255, 255, 0.95);
$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-30: rgba(255, 255, 255, 0.3);
$white-20: rgba(255, 255, 255, 0.2);
$white-10: rgba(255, 255, 255, 0.1);
$white-5: rgba(255, 255, 255, 0.05);

$grey-dark: #383838;
$grey: #dedede;

$green-dark: #005924;
$green-light: #7bdaa1;

$purple-xdark: #13011e;
$purple-dark: #361a47;
$purple-base: #714cb4;
$purple-light: #9c7ad9;
$purple-xlight: #faf5fd;

// Light
$light--text-primary: $black;
$light--text-secondary: $grey-dark;
$light--text-positive: $green-dark;
$light--progress--goal: $black;
$light--progress--complete: $black;
$light--progress--total: $grey;
$light--progress--first: $purple-light;
$light--progress--second: $purple-base;
$light--complete--background: $green-light;
$light--background--base: $purple-xlight;
$light--background--tint: $white;
$light--dark-mode-toggle: $black-95;
$light--dark-mode-toggle-hover: $black-75;
$light--control-background: $transparent;
$light--control-background-hover: $black-5;
$light--control-focus-ring: $black-30;
$light--control-icon: $green-dark;

// Dark
$dark--text-primary: $white-95;
$dark--text-secondary: $white-75;
$dark--text-positive: $green-light;
$dark--progress-goal: $black;
$dark--progress-complete: $black;
$dark--progress--total: $grey;
$dark--progress--first: $purple-light;
$dark--progress--second: $purple-base;
$dark--complete-background: $green-light;
$dark--background-base: $purple-xdark;
$dark--background-tint: $white-5;
$dark--dark-mode-toggle: $white-95;
$dark--dark-mode-toggle-hover: $white-75;
$dark--control-background: $transparent;
$dark--control-background-hover: $white-10;
$dark--control-focus-ring: $white-50;
$dark--control-icon: $green-light;
