@import "vars";

$justify-content-map: (
  "inherit": "inherit",
  "start": "flex-start",
  "end": "flex-end",
  "center": "center",
  "between": "space-between",
  "around": "space-around",
  "evenly": "space-evenly",
);

$align-items-map: (
  "inherit": "inherit",
  "start": "flex-start",
  "end": "flex-end",
  "center": "center",
  "baseline": "baseline",
  "stretch": "stretch",
);

@each $prefix, $breakpoint in $breakpoint-map {
  .#{$prefix}flex {
    @include mediaMinWidth($breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .#{$prefix}flex-row {
    @include mediaMinWidth($breakpoint) {
      flex-direction: row;
    }
  }

  .#{$prefix}flex-column {
    @include mediaMinWidth($breakpoint) {
      flex-direction: column;
    }
  }

  .#{$prefix}flex-1 {
    @include mediaMinWidth($breakpoint) {
      flex: 1 1 0%;
    }
  }

  .#{$prefix}flex-0 {
    @include mediaMinWidth($breakpoint) {
      flex: 0 0 auto;
    }
  }

  @each $name, $property in $justify-content-map {
    .#{$prefix}justify-content-#{$name} {
      @include mediaMinWidth($breakpoint) {
        justify-content: #{$property};
      }
    }
  }

  @each $name, $property in $align-items-map {
    .#{$prefix}align-items-#{$name} {
      @include mediaMinWidth($breakpoint) {
        align-items: #{$property};
      }
    }
  }
}
