@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "vars";
@import "colors";
@import "typography";
@import "spacing";
@import "flex";
@import "animations";

// Font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Rubik, Helvetica, Arial, sans-serif;
  background: var(--background-base);
  transition: background-color 0.3s ease-in-out;
}

.page {
  height: 100%;
  min-height: 100vh;
}

.page-container {
  max-width: 1000px;
}

.container-data {
  background: var(--background-tint);
}

.doses-data-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.25rem;

  & .doses-data-grid-item {
    background: var(--background-tint);
    border-radius: $radius-large;

    grid-column: span 12 / span 12;

    @media (min-width: 640px) {
      grid-column: span 6 / span 6;
    }

    @media (min-width: 1024px) {
      grid-column: span 4 / span 4;
    }
  }
}

// Themes

:root {
  --text-primary: #{$dark--text-primary};
  --text-secondary: #{$dark--text-secondary};
  --text-positive: #{$dark--text-positive};
  --progress-goal: #{$dark--progress-goal};
  --progress-complete: #{$dark--progress-complete};
  --progress--total: #{$dark--progress--total};
  --progress--first: #{$dark--progress--first};
  --progress--second: #{$dark--progress--second};
  --complete-background: #{$dark--complete-background};
  --background-base: #{$dark--background-base};
  --background-tint: #{$dark--background-tint};
  --dark-mode-toggle: #{$dark--dark-mode-toggle};
  --dark-mode-toggle-hover: #{$dark--dark-mode-toggle-hover};
}

.light {
  --text-primary: #{$light--text-primary};
  --text-secondary: #{$light--text-secondary};
  --text-positive: #{$light--text-positive};
  --progress-goal: #{$light--progress--goal};
  --progress-complete: #{$light--progress--complete};
  --progress--total: #{$light--progress--total};
  --progress--first: #{$light--progress--first};
  --progress--second: #{$light--progress--second};
  --complete-background: #{$light--complete--background};
  --background-base: #{$light--background--base};
  --background-tint: #{$light--background--tint};
  --dark-mode-toggle: #{$light--dark-mode-toggle};
  --dark-mode-toggle-hover: #{$light--dark-mode-toggle-hover};
}
