@import "colors";
@import "styles";

// Progress bars

.progress-bar {
  border-radius: $radius 0 0 $radius;
}

.progress-bar-large {
  border-radius: $radius-large 0 0 $radius-large;
}

.progress-total {
  background: var(--progress--total);
}

.progress-first {
  box-shadow: 2px 0 0 var(--progress--first);
  background-size: 8px 8px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--progress--first) 0,
    var(--progress--first) 2px,
    var(--progress--total) 0,
    var(--progress--total) 50%
  );
}

.progress-second {
  background: var(--progress--first);
  box-shadow: 2px 0 0 var(--progress--second);
}

.goal-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right-width: 2px;
  border-color: $black;
  box-shadow: 1px 0 0 $white-75;
  &::before {
    content: "";
    position: inherit;
    height: 100%;
    width: 1px;
    left: -1px;
    background: $white-75;
  }
}

// Footnote

// Style utils

.radius {
  border-radius: $radius;
}
.radius-large {
  border-radius: $radius-large;
}
