body,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
  background-image: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[role="button"],
button,
a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

[hidden] {
  display: none;
}
