@import "vars";

$space-map: (
  "none": $space-none,
  "2xs": $space-2xs,
  "xs": $space-xs,
  "s": $space-s,
  "m": $space-m,
  "l": $space-l,
  "xl": $space-xl,
  "2xl": $space-2xl,
  "3xl": $space-3xl,
  "4xl": $space-4xl,
  "5xl": $space-5xl,
  "full": $space-full,
  "half": $space-half,
);

// For each breakpoint, creates all spacing (margin, padding, height,
// width & spacing) classnames for each size in the space scale.

// For example: "margin-m l:margin-xl" would apply $space-m for
// screen sizes below $breakpoint-l and $space-xl above it.

@each $prefix, $breakpoint in $breakpoint-map {
  @each $size, $space in $space-map {
    // Margin
    .#{$prefix}margin-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin: $space;
      }
    }
    .#{$prefix}margin-top-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-top: $space;
      }
    }
    .#{$prefix}margin-right-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-right: $space;
      }
    }
    .#{$prefix}margin-bottom-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-bottom: $space;
      }
    }
    .#{$prefix}margin-left-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-left: $space;
      }
    }
    .#{$prefix}margin-y-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-top: $space;
        margin-bottom: $space;
      }
    }
    .#{$prefix}margin-x-#{$size} {
      @include mediaMinWidth($breakpoint) {
        margin-left: $space;
        margin-right: $space;
      }
    }

    // Padding
    .#{$prefix}padding-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding: $space;
      }
    }
    .#{$prefix}padding-top-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-top: $space;
      }
    }
    .#{$prefix}padding-right-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-right: $space;
      }
    }
    .#{$prefix}padding-bottom-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-bottom: $space;
      }
    }
    .#{$prefix}padding-left-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-left: $space;
      }
    }
    .#{$prefix}padding-y-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-top: $space;
        padding-bottom: $space;
      }
    }
    .#{$prefix}padding-x-#{$size} {
      @include mediaMinWidth($breakpoint) {
        padding-left: $space;
        padding-right: $space;
      }
    }

    // Heights & Widths
    .#{$prefix}height-#{$size} {
      @include mediaMinWidth($breakpoint) {
        height: $space;
      }
    }
    .#{$prefix}width-#{$size} {
      @include mediaMinWidth($breakpoint) {
        width: $space;
      }
    }

    // Space
    .#{$prefix}space-y-#{$size} {
      @include mediaMinWidth($breakpoint) {
        & > :not([hidden]) ~ :not([hidden]) {
          margin-top: $space;
        }
      }
    }
    .#{$prefix}space-x-#{$size} {
      @include mediaMinWidth($breakpoint) {
        & > :not([hidden]) ~ :not([hidden]) {
          margin-left: $space;
        }
      }
    }
  }
}
