// Breakpoints

$breakpoint-xs: 360px;
$breakpoint-s: 640px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

// map of 'prefixes' to equivalent breakpoint
$breakpoint-map: (
  "": 0,
  "xs\\:": $breakpoint-xs,
  "s\\:": $breakpoint-s,
  "m\\:": $breakpoint-m,
  "l\\:": $breakpoint-l,
);

// applies media query for min-width
@mixin mediaMinWidth($breakpoint) {
  @if $breakpoint == 0 {
    @content;
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

// Spacing

$space-none: 0; // 0
$space-2xs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-s: 0.75rem; // 12px
$space-m: 1rem; // 16px
$space-l: 1.25rem; // 20px
$space-xl: 1.5rem; // 24px
$space-2xl: 2rem; // 32px
$space-3xl: 2.5rem; // 40px
$space-4xl: 3rem; // 48px
$space-full: 100%; // 100%
$space-half: 50%; // 50%

// Radius

$radius: 4px;
$radius-large: 8px;
$radius-full: 9999px;
