@import "../../styles/spacing.scss";

.card-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: $space-l;
}

.card {
  background: var(--background-tint);
  border-radius: $radius-large;

  grid-column: span 12 / span 12;

  @media (min-width: $breakpoint-s) {
    grid-column: span 6 / span 6;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: span 4 / span 4;
  }
}

.card-title {
  color: var(--text-primary);

  font-size: 1.125rem; // 18px
  line-height: 1.5rem; // 24px
  font-weight: 500;
  @media (min-width: $breakpoint-s) {
    font-size: 1.25rem; // 20px
    line-height: 1.625rem; // 26px
  }
}
