@import "../../styles/colors";
@import "../../styles/vars";
@import "../../styles/typography";

// Focus-ring (move somewhere more global later)
@mixin focus-ring {
  box-shadow: 0 0 0 2px var(--control-focus-ring);
}

.dropdown-container {
  position: relative;
  cursor: pointer;
  width: calc($space-3xl * 7);
  color: var(--text-positive);

  // Animation is currently off — I don't know if this is what we want anyways because the dropdown could be closed but still in focus?
  // &:focus-within {
  //   .dropdown-caret svg {
  //     transform: rotate(180deg);
  //   }
  // }
}

.dropdown {
  @include control;
  appearance: none;
  background-color: var(--control-background);
  border: 0;
  outline: 0;
  width: $space-full;
  padding: $space-m $space-xl;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: var(--control-background-hover);
  }
  &:focus {
    @include focus-ring;
  }
  option {
    color: $black;
  }
}

.dropdown-caret {
  position: absolute;
  right: $space-xl;
  top: $space-half;
  transform: translateY(-$space-half);
  z-index: -1;
  fill: var(--control-icon);
  width: $space-l;

  svg {
    transition: 0.2s ease-in-out;
  }
}
