@import "../../styles/vars.scss";

.description-definition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.term {
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.definition-primary {
  width: 2rem;
  text-align: right;
}

.check {
  width: $space-m;
  height: $space-m;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--progress-complete);
  background: var(--complete-background);
  border-radius: $radius-full;

  & svg {
    width: $space-s;
    height: $space-s;
  }
}

.card-title {
  font-size: 1.125rem; // 18px
  line-height: 1.5rem; // 24px
  font-weight: 500;
  @media (min-width: $breakpoint-s) {
    font-size: 1.25rem; // 20px
    line-height: 1.625rem; // 26px
  }
}
.dose-label {
  font-size: 0.625rem; // 10px
  line-height: 0.875rem; // 14px
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  @media (min-width: $breakpoint-s) {
    font-size: 0.75rem; // 12px
    line-height: 1rem; // 16px
  }
}
.percentage-label {
  font-size: 1.125rem; // 18px
  line-height: 1.5rem; // 24px
  font-weight: 500;
  @media (min-width: $breakpoint-s) {
    font-size: 1.25rem; // 20px
    line-height: 1.75rem; // 28px
  }
}
.vaccine-count {
  font-size: 0.75rem; // 12px
  line-height: 1rem; // 16px
  font-weight: 400;
  @media (min-width: $breakpoint-s) {
    font-size: 0.875rem; // 14px
    line-height: 1.125rem; // 18px
  }
}
