.description-definition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.term {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.definition-primary {
  width: 2rem;
  text-align: right;
}

.definition-secondary {
  flex: 1 1 0%;
  text-align: right;
}

.check {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--progress-complete);
  background: var(--complete-background);
  border-radius: 99999px;
  margin-right: 0.5rem;

  & svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}
