@import "../../styles/vars.scss";
@import "../../styles/typography.scss";

.description-definition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.term {
  @include dose-label;
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.definition-primary {
  @include percentage-label;
  width: 2rem;
  text-align: right;
}

.check {
  width: $space-m;
  height: $space-m;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--progress-complete);
  background: var(--complete-background);
  border-radius: $radius-full;

  & svg {
    width: $space-s;
    height: $space-s;
  }
}
