@import "../../styles/vars.scss";

.sticky-container {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;

  &:before {
    content: "";
    top: 0;
    position: absolute;
    height: 6.25rem;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
  }
}

.refresh-button {
  position: absolute;
  top: 3.75rem;
}
