@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes grow-width {
  0% {
    opacity: 0%;
    width: 0%;
  }
  30% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
    width: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

.animate-grow-width {
  opacity: 0%;
  animation: grow-width 1s ease-in-out 0.5s forwards;
}
