@import "colors";
@import "styles";

body {
  background: var(--background-tint-2);
  font-family: "Rubik", Helvetica, Arial, sans-serif;
}

.background-shape {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80vh;
  background-color: var(--background-base);
  clip-path: ellipse(75% 100% at 50% 0%);
}

.container-data {
  background: var(--background-tint-1);
}

.heading-1 {
  @include h1;
  color: var(--text-primary);
}

.heading-2 {
  @include h2;
  color: var(--text-primary);
}

.heading-3 {
  @include h3;
  color: var(--text-primary);
}

.data-text {
  @include h4;
  color: var(--text-secondary);
}

.footnote {
  @include footnote;
  color: var(--text-secondary);
}

.data-text-complete {
  color: var(--text-positive);
}

// Progress bars

.progress-bar {
  border-radius: $radius 0 0 $radius;
  box-shadow: 1px 0 0 $grey;
}
.progress-bar-large {
  border-radius: $radius-large 0 0 $radius-large;
  box-shadow: 1px 0 0 $grey;
}

.goal-line {
  position: absolute;
  top: 0;
  bottom: 0;
  border-right-width: 2px;
  border-color: $black;
  &::before {
    content: "";
    position: inherit;
    height: 6px;
    width: 6px;
    left: -2px;
    top: -3px;
    background: $green-light;
    border-radius: 100%;
    box-shadow: 0 0 0 2px $black;
  }
}

// Footnote

// Style utils

.radius {
  border-radius: $radius;
}
.radius-large {
  border-radius: $radius-large;
}

// Progress color utils

.progress-total {
  background: var(--progress--total);
}
.progress-primary-first {
  background: var(--progress--primary-first);
}
.progress-primary-second {
  background: var(--progress--primary-second);
}
.progress-secondary-first {
  background: var(--progress--secondary-first);
}
.progress-secondary-second {
  background: var(--progress--secondary-second);
}
